<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="locacao.js"></script>
    <title>Armarios</title>
</head>
<body onclick="call_controller()"> <h1> CoolBag-Safe</h1>
    <p id="p">Escolha o tamanho que atenda melhor sua necessidade</p>
        <div class= "button">  
                <button type="button" id="A" class="btn btn-primary btn-lg">A</button>
                <a href="index.html"><button type="button" id="b" class="btn btn-primary btn-lg">B</button></a>
                <a href="index.html"><button type="button" id="c" class="btn btn-primary btn-lg">C</button></a>
                <a href="index.html"><button type="button" id="d" class="btn btn-primary btn-lg">D</button></a>
                </div> 
</body>
</html>