
*{
	font-family: "Roboto Light";
	
}
#window_calendario{
	background: rgb(248, 248, 248);
	font: 1.3em monospace;
	font-weight: lighter;
	color: rgb(9, 19, 41);
}
#btn_seta_date{
	background: rgb(248, 248, 248);
	color: #063f41;
	font: 1em monospace;
}
#btn_confirmar_calendario, #btn_retornar_calendario{
	font:1.3em  monospace;
	color:floralwhite;
	border-radius: 0;
}
#btn_confirmar_calendario{
	background: #203864;
}
#btn_retornar_calendario{
	background: #aa0000;
}
#btn_calendario{
	background: white;
	border-radius: 25%;
	color: darkslategray;
	border: none;
	font: 1.3em sans-serif;
}

#btn_calendario_dom, #btn_calendario_sab{
	color: #aa0000;
	font: 1.3em sans-serif;
	border: none;
	background: white;
	border-radius: 25%;
}
#btn_calendario_dom:focus{
	background: #05878b;
	border-radius: 100%;
	color: floralwhite;
}

#btn_calendario_sab:focus{
	background: #05878b;
	border-radius: 100%;
	color: floralwhite;
}
#btn_calendario:focus{
	background: #05878b;
	color: #fff;
	border-radius: 100%;
}

#dia_passado{
    background: rgb(248, 248, 248);
	color: #688586;
}

#dia_selecionado{
    background: rgb(17, 80, 80);
	border-radius: 100%;
	color: white;
}
#intervalo_selecionado{
	background: #688586;
	color: floralwhite;
	border-radius: 100%;
}

#label_calendario_dom{
	font-weight: lighter;
	color: #aa0000;
}
#label_calendario_sabado{
	font-weight: lighter;
	color: #71898a;
}

#label_weekdays{
	font-weight: lighter;
	color: #0b4f6f;
	font-size: 1em;
}
#label_bottom_calendario{
	font-weight: lighter;
	font-size: 1.2em;
}
#dia_corrente{
	background: rgb(243, 128, 128);
	color: #fff ;
	border-radius: 100%;
}
#btn_horas{
	color: #000;
	font: 1.3em sans-serif;
	border-radius: 100%;
}
#btn_horas:focus{
	background: #05878b;
	color: #fff;
	border-radius: 100%;
}
#focado{
	color: #000;
	font: 1.3em sans-serif;
	border-radius: 100%;
}



#label_hora_ecolhida{
	font-size: 1.8em;
}
#label_valor_total_horas{
	font-size: 2.5em;
	background-color: #4473C5;
	color: floralwhite;
	font-weight: bolder;
}
#label_periodo{
	font-size: 1.6em;
	background-color: #4473C5;
	color: floralwhite;
	font-weight: bolder;
	padding-left: .5em;
	padding-right: .5em;
}

#label_titulo{
	font-size: 2em;
	color: #063f41;
	font-weight: lighter;
	
}
#label_titulo_mes{
	font-size: 2.3em;
	color: #063f41;
	font-weight: lighter;
	border-bottom: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, floralwhite, rgb(11, 83, 117),floralwhite) 1;
}
#label_valor_total_horas_calendario{
	font-size: 2.5em;
	background-color: #4473C5;
	color: floralwhite;
	font-weight: bolder;
	padding-right: .5em;
}
#label_periodo_calendario{
	font-size: 1.6em;
	background-color: #4473C5;
	color: floralwhite;
	font-weight: bolder;
	padding-left: .5em;
	padding-right: .5em;
}

#label_titulo_calendario{
	font-size: 2.3em;
	color: #063f41;
	font-weight: bolder;
}
#label_titulo_secundario{
	font-size: 2em;
	color: #063f41;
	font-weight: bolder;
}
#label_titulo_valor{
	font-size: 2em;
	color: #063f41;
	font-weight: bolder;
}
#label_titulo_qt_hora{
	
		font-size: 2.7em;
		color: #063f41;
		font-weight: normal;
		
}
#label_titulo_passado{
	font-size: 2em;
	color: #677a7a;
	font-weight: lighter;
	background: rgb(250, 250, 250);
	border: none;
}


#btn_confirmar_calendario{  
	font-size: 1.3em ;
	background: #203864;/* rgb(8, 107, 173);*/
	color: #d6e6ee;
	padding: 2px;
	border-radius: 4px;
	border: 1px solid #fff;
	padding: 10px;
	font-weight: normal;
	 }

#btn_retornar_calendario{  
font-size: 1.3em ;
background: #ED0D0D;
color: #d6e6ee;
padding: 2px;
border-radius: 4px;
border: 1px solid #fff;
padding: 10px;
font-weight: normal;
		 }

