/*{
	font: 32px "Noto Sans";
}*/
button{
	/*font: 27px "arial";*/
	color: rgb(9, 19, 41);
	border-radius: 10px;
}
#entry{
	font: 2em sans-serif;
	border-radius: 5px;
}
#label_dialogo{
	
	font: 32px "Noto Sans";
}
#combobox{
	border-radius: 0;
}
#label_combobox{
	font: 2em "Noto Sans";
}

#btn_num{ background-color: red; font-size: 22px}

#btn_proximo { 
	font: 2.5em sans-serif;
		background: rgb(9, 19, 41);
	    color: #d6e6ee;
	    }
#btn_cancelar {  
	font: 1.4em sans-serif;
		background: rgb(199, 75, 54);
		color: #d6e6ee;
		border-radius: 2px;
	     }
#btn_confirmar{  
		font: 1.5em sans-serif;
		background: rgb(8, 107, 173);
		color: #d6e6ee;
		padding: 10px;
		border-radius: 2px;

		 }
#btn_retornar{  
	font: 1.3em sans-serif;
	background: rgb(199, 75, 54);
	color: #d6e6ee;
	padding: 5px;
	border-radius: 2px
	
			 }
dialog, #window { background-color: #FDCF03;
	/*font: 32px "Noto Sans";*/
}
#window_locacao { 
	background-color: #ffe100;
	font: 22px "Noto Sans";
}

#lbl_time { font-size: 52px }       
#label_telefone { color: #fff;}
#label_nome , 
#label_email, 
#label_celular, 

#label_valor_da_locacao,
#label_total,
#label_entrada_dados { 
	font: 1em sans-serif;
	color: rgb(9, 19, 41);}
#label_quantidade_diaria,
#label_quantidade_horas,
#label_quantidade_minutos{
		font: 1em sans-serif;
	color: rgb(9, 19, 41);
	}
#label_senha { color: #fff }
#btn_delete{
	font: 1em "Noto Sans";
	background: darkorange;
	font-weight: bold;
}
#tecla{
	font: 30px "Noto Sans";
	
}
#tecla_num{
	background: #FDCF03;
	border: rgb(9, 19, 41) solid 1px;
	color: #000;
	font: 2.5em sans-serif;
}
#tecla_num:focus{
background: rgb(9, 19, 41);
color: #fff;
}
#tecla_alfa{
	background: #FDCF03;
	border: rgb(9, 19, 41) solid 1px;
	color: #000;
	font: 1.5em sans-serif;
}
#tecla_alfa:focus{
background: rgb(9, 19, 41);
color: #fff;
}
#btn_backspace{
	background: #fdcf03;
	border: rgb(9, 19, 41) solid 1px;
	color: #000;
	font: 1.9em sans-serif;
}
#tecla_backspace:focus{
background: rgb(9, 19, 41);
color: #fff;
}
#tecla_login{
	font: 30px "Noto Sans";
	
}
#btn_locar, #btn_encerrar, #btn_abrir, #label_total{
	font: 1em "Noto Sans";
	color: #000000;
	font-stretch: condensed;
}
#btn_locar{
	background: url("../static/images/alugar.svg")
}
#btn_encerrar{
	background: rgb(255, 94, 0);
}
#btn_abrir{
	background: url("../static/images/retirar.svg")
}
#btn_reservar{
	background: url("../static/images/inicio_reserva.svg") ;
	background-repeat: no-repeat;
}
#label_data, #label_horario{
	font: 2em sans-serif;
}
#label_informacao_final_locacao{
	font: 2.5em sans-serif;
	background-color: #fff;
	color: #000000;
}
#btn_encerrar_sessao{
	font: 1.4em sans-serif;
	color: #fff;
	background: #000000;
	border-radius: 0px;
	padding: 5px;
}

#spinner {
		/*background: url("static\images\spinner.svg");*/
		opacity: 1; 
		animation: spin 1.4s linear infinite;
		-gtk-icon-source: url("../images/spinner_coolbag.svg");
		/*-gtk-icon-transform: rotate(359deg);*/
}
#label_aguarde{
	font: 4em sans-serif;
	font-weight: lighter;
}
#btn_flag{
	border-radius: 0;
	padding: 0;
	margin: 0;
}
#btn_toggle :active{
	background: #000
}
#btn_clear{
	font: 1em sans-serif;
	color: #fff;
	background: #000000;
	border-radius: 0px;
}
#btn_clear:active{
	color: #000;
	background: red;
}
#label_instrucao{
	font: 1.5em sans-serif;
}