

*{
	font-family: "Calibri";
}
button{
	font: 1.7em "Ubuntu";
	font-weight: normal;
	border-radius: 5px;
}
entry{
	font-size: 2em ;
	border-radius: 3px;
	border:  none;
	background: rgba(245, 245, 245, .98);	
}
combobox{
	
	border-radius: 5px;
	border:  rgba(9,19,41, .92) solid 0px ;
	background: rgba(245, 245, 245, .98);
}
#label_dialogo{
	color: #000;
	font-size: 32px;
}

#label_combobox{
	font-size: 2em ;
}

#btn_num{ background-color: #ED0D0D; font-size: 22px}

#btn_proximo { 
	font-size: 2.5em ;
		background: rgb(9, 19, 41);
		color: #d6e6ee;
	    }
#btn_cancelar {  
	font-size: 1.7em;
		background: #ED0D0D;
		color: #d6e6ee;
		border-radius: 2px;
		padding-right: 15px;
		padding-left: 15px;
	     }
#btn_confirmar{  
		font-size: 1.7em ;
		background: #0b4f6f;/* rgb(8, 107, 173);*/
		color: #d6e6ee;
		padding: 5px;
		border-radius: 2px;
		border: none;

		 }
#btn_retornar{  
	font-size: 1.7em ;
	background: #ED0D0D;
	color: #d6e6ee;
	padding: 5px;
	border-radius: 2px;
	border: none;
			 }
#window { 
background-color: #FDCF03;
	/*font: 32px "Noto Sans";*/
}

#window_locacao { 
	background-color: #ffe100;
	font-size: 22px ;
}

#lbl_time { font-size: 52px }       
#label_telefone { color: #fff;}
#label_nome , 
#label_email, 
#label_celular, 
#label_valor_da_locacao,
#label_total,
#label_quantidade_horas,
#label_quantidade_diaria { 
	font-size: 1.4em ;
	color: rgb(9, 19, 41);}
#label_entrada_dados, #label_entrada_num_quantidade{
	font-size: 2em ;
	color: rgb(9, 19, 41);
}


#label_quantidade_minutos, #label_weekdays{
	font-size: 1.2em;
	color: rgb(9, 19, 41);
	}

#btn_delete{
	font-size: 1em ;
	background: darkorange;
	font-weight: bold;
}
#tecla{
	font-size: 30px ;
	
}
#tecla_num{
	background: rgba(245, 245, 245, .95);
	border: rgba(9, 19, 41, .8) solid 0px;
	color: #000;
	font-size: 2.5em ;
	border-radius: 2px;
}
#tecla_num_quantidade{
	
		background: rgba(245, 245, 245, .95);
		border: rgb(29, 36, 51) solid 0px;
		color: #000;
		font-size: 3em ;
		border-radius: 2px;
}
#tecla_num_quantidade:focus{
	background: rgb(9, 19, 41);
	color: #fff;
	}
#tecla_num:focus{
background: rgb(9, 19, 41);
color: #fff;
}

#tecla_alfa{
	background: rgba(245, 245, 245, .95);
	border: rgb(9, 19, 41) solid 0px;
	color: #000;
	font: 1.7em sans-serif;
	border-radius: 2px;
}

#tecla_alfa:focus{
background: rgb(9, 19, 41);
color: #fff;
}
#btn_backspace{
	background: rgba(245, 245, 245, .95);
	border: rgb(9, 19, 41) solid 0px;
	color: #000;
	border-radius: 2px;
	font: 1.9em sans-serif;
}
#tecla_backspace:focus{
background: rgb(9, 19, 41);
color: #fff;
}
#tecla_login{
	font: 30px "Noto Sans";
	
}
#btn_locar, #btn_encerrar, #label_total{
	font: 2em "Noto Sans";
	color: #000000;
	font-stretch: normal;
}

#btn_encerrar{
	background: #ED0D0D;
}
#btn_abrir, #btn_concluir, #btn_medidas , #btn_reservar{
	border: solid 9px rgb(87, 86, 86);
	border-radius: 5px;
	background:white;
}

#label_data, #label_horario{
	font: 2em sans-serif;
	color: #000;
}
#label_informacao_final_locacao, #label_senha{
	font: 2em sans-serif;
	background-color:whitesmoke;
	color: #000000;
}
#label_sep_hora{
	font: 2em sans-serif;
	background-color: #FDCF03;
	color: #000000;
	padding: 1px 1px;
}
#label_memorizar{
	font-size: 1.2em ;
	color: #000000;
}
	
#btn_encerrar_sessao{
	font-size: 1.5em ;
	color: whitesmoke;
	background: rgba(9,19,41, .92);
	border-radius: 0px;
	padding: 5px;
	font-weight: normal;
}

#spinner {
		/*background: url("static\images\spinner.svg");*/
		opacity: 1; 
		animation: spin 1.4s linear infinite;
		-gtk-icon-source: url("../images/spinner_coolbag.svg");
		/*-gtk-icon-transform: rotate(359deg);*/
}
#label_aguarde{
	font: 3em sans-serif;
	font-weight: lighter;
}
#label_menu{
    font: 3em sans-serif;
    font-weight: lighter;
    color: black;
}
#btn_flag{
	border-radius: 0;
	padding: 0;
	margin: 0;
}
/*
btn_toggle{

	border: solid 3px #000;
	border-radius: 5px;
	background-color: #fff;
}
btn_toggle :checked{
    
	background-color: #0b4f6f;;
	border: solid 3px #fff;
	
}
#btn_toggle{
    border: solid 10px rgb(87, 86, 86);
	border-radius: 5px;
	background-color: #fff;
}*/
#btn_camera_note{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: whitesmoke;
	padding: .2em .2em .2em .2em;
}
#btn_cameraenotebook_inativo{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: rgb(87, 86, 86);
	padding: .2em 1em;
}
#btn_mochila{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: whitesmoke;
	padding-bottom: 0.5em;
}
#btn_mochilasx2_inativo{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: rgb(87, 86, 86);
	padding: 2em 1em;
	padding-bottom: 0.1em;
}

#btn_malasx2{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: #fff;
	padding: 2em 1em;
}
#btn_malasx4{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: #fff;
	padding: 2em 2em 1em 1em;
}
#btn_malasx2_inativo{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: rgb(87, 86, 86);
	padding: 2em 1em;
}

#btn_malasx4_inativo{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 3px;
	background: rgb(87, 86, 86);
	padding: 2em 2em 1em 1em;
}


#btn_clear{
	font: 1.5em "Roboto mono";
	color: #000;
	background: rgba(245, 245, 245, .98);
	border: solid #000 0px;
	border-radius: 2px;
}
#btn_clear:active{
	color: #000;
	background: red;
}
#label_instrucao{
	font: 1.5em sans-serif;
}
#label_select_size{
	color: #000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

dialog{
	background: floralwhite;
	font: 1.3em monospace;
	font-weight: lighter;
	color: rgb(9, 19, 41);
}

#focado{
	color: #000;
	font: 1.3em sans-serif;
	border-radius: 100%;
}

/* ELEMENTOS DA JANELA LOC HORA DIARIA */
#btn_loc_dia{
	border: solid 10px rgb(87, 86, 86);
	border-radius: 5px;
	background-color: whitesmoke;
	padding: 1em 2em 1em 2em;
}
#btn_loc_hora{
	background: whitesmoke;
	padding: 1em 2em 1em 2em;
	border: solid 10px rgb(87, 86, 86);
	border-radius: 5px;
	
}
#btn_tela_hora_diaria{
	background: #ED0D0D;
	color: whitesmoke;
	font-size: 1.7em;
	padding-top: 10;
	padding-bottom: 10;
	padding-right: 15;
	margin-bottom: 15px;
	border: none;
}
#label_hora_diaria{
	font-size: 2em;
	color:rgb(9, 19, 41);
}
#label_titulo{
	font-size: 2.4em;
	color: #063f41;
	font-weight: lighter;
}
#label_sac{
	font-size: 2em;
	color: #063f41;
}
#label_informe_envio_email{
	font-size: 1.5em;
	font-weight: lighter;
	color: #063f41;
}
*{
	font-family: "Calibri";
	font-weight: normal;
}