/*{
	font: 32px "Noto Sans";
}*/
button{
	/*font: 27px "arial";*/
	color: rgb(9, 19, 41);
	border-radius: 10px;
}
entry{
	font: 36px "Noto Sans";
	border-radius: 5px;
}
dialog{
	background-color: darkcyan;
	font: 32px "Noto Sans";
}

#btn_confirmar{
	background-color: blue;
	color: #d6e6ee
}
#btn_num{ background-color: red; font-size: 22px}

#btn_proximo { 
	font: 42px "Noto Sans";
	background: #008cc3; 
	color: #fff }
#btn_cancelar {  
	font: 32px "Noto Sans";
	background: red; 
	color: #fff }
#btn_confirmar{  
		font: 32px "Noto Sans";
		background: #008cc3; 
		color: #fff }

#window { background-color: darkcyan;
	/*font: 32px "Noto Sans";*/
}
#window_locacao { 
	background-color: darkcyan;
	font: 22px "Noto Sans";
}

#lbl_time { font-size: 52px }       
#label_telefone { color: #fff;}
#label_nome { 
	font: 22px "Noto Sans";
	color: #fff;}
#label_senha { color: #fff }
#btn_delete{
	font: 32px "Noto Sans";
	background: darkorange;
	font-weight: bold;
}
#tecla{
	font: 30px "Noto Sans";
	
}
#tecla_login{
	font: 30px "Noto Sans";
	
}
#btn_locar, #btn_encerrar, #btn_abrir, #label_total{
	font: 36px "Noto Sans";
	color: #fff;
	font-stretch: condensed;
}
#btn_locar{
	background: #008cc3;
}
#btn_encerrar{
	background: red;
}
#btn_abrir{
	background: #008cc3
}