#body{
       
        color: aliceblue
}
.body
{
        /*background-color: #222930;*/
        
        color: #222930 ;
        background-color: #FFD004;
        background-attachment: fixed;
        background-size: 100%;
        

        
        
}
#background{
        background-color: #FFD004;
        /*background-image: url("../images/coolbag.svg");*/
}
h1
{
        color: rgb(20, 8, 8);
        text-align: center;
}
.button {
  margin-bottom: 5px;
  text-align: center;
}
#button-bottom{
      position: absolute;
      top: 80%;
      left: 32%;

}

#button-pass{
        position: absolute;
        top: 40%;
        left: 30%;
  
  }

  #button-pass-number{
        position: absolute;
        top: 60%;
        left: 50%;
  
  }

#A{
        position: absolute;
        top: 30%;
        left: 25%;
        height: 200px;
        width: 380px;
}
#B{
        position: absolute;
        top: 63%;
        left: 25%;
        height: 200px;
        width: 190px;
        background-color: green;
}
#C{
        position: absolute;
        top: 63%;
        left: 40%;
        height: 80px;
        width: 120px;
        background-color: gray;
}
#D{
        position: absolute;
        top: 78%;
        left: 40%;
        height: 50px;
        width: 120px;
        background-color: red;
}
#p{
        position: absolute;
        left: 20%;
}

#bandeiras{
        top: 10%;
        left: 70%;
        background-color: #FFD004;
}

#bandeira{
        width: 70px;
        height: 35px;
        
        
}
.ativo{
        border: 2px solid rgb(13, 18, 22);
        
        
}
.inativo{
        filter: grayscale(80%);
}

#touch{
        position: absolute;
        
        left: 40%;
        bottom: 30%;
  
}
#hand{
        width: 200px;
        height: 282,283x;
}

#form{
        padding: 80px;
        margin-left: 50px;
        margin-top: 80px;
        margin-bottom: 10%;
        left: 20%;
        top: 60%;

}
#form-resgate{
        top: 15%;
        max-width: 150px;
        bottom: 30%;
        left: 15%;
        position: absolute;
}
#teclado{
        position: absolute;
        
        top: 15%;
        left: 50%;
        max-width: 450px;
        background-color: #222930;
        color: aliceblue

}
.botao-numerico{
        width: 40px;
        height: 40px;
        border-radius: 12px;
        background-color: firebrick;
        color: aliceblue;
        font-size: 20px;
}
.botao-alfa{
        width: 40px;
        height: 40px;
        border-radius: 12px;
        background-color: #222930;
        color: aliceblue;
        font-size: 20px;
}
.botao-submit{
        /*width: 40px;*/
        height: 40px;
        border-radius: 15px;
        margin-bottom: 15px;
        background-color: #222930;
        color: aliceblue
}
#entry{
        border-radius: 11px;
        height: 40px;
        font-size: 20px;
}
#entryemail{
        border-radius: 11px;
        height: 40px;
        font-size: 20px;
}
#input{
        background-color: #222930;
        border-radius: 12px;
        top: 5%;
        position: relative;
        padding-bottom: 5%;
}
#backspace{
        width: 65px;
        background-color: firebrick;
        font-weight: bolder
}
#dotcom{
        width: 60px;
        background-color: #222930;
        color: aliceblue
}
.confirmar{
        left: 40%;
        top: 40%;
        position: absolute;
        padding: 5%;
        letter-spacing: .1em
}