body
{
        /*background-color: #222930;*/
        
        color: #222930 ;
        background-color: #FFD004;
        background-attachment: fixed;
        background-size: 100%;
        

        
        
}
#background{
        background-color: #FFD004;
        background-image: url("../images/coolbag.svg");
}
h1
{
        color: rgb(20, 8, 8);
        text-align: center;
}
.button {
  margin-bottom: 5px;
  text-align: center;
}
#button-bottom{
      position: absolute;
      top: 80%;
      left: 50%;

}

#button-pass{
        position: absolute;
        top: 40%;
        left: 50%;
  
  }

  #button-pass-number{
        position: absolute;
        top: 60%;
        left: 50%;
  
  }

#a{
        position: absolute;
        top: 30%;
        left: 10%;
        height: 200px;
        width: 220px;
}
#b{
        position: absolute;
        top: 30%;
        left: 40%;
        height: 100px;
        width: 190px;
        background-color: green;
}
#c{
        position: absolute;
        top: 60%;
        left: 40%;
        height: 80px;
        width: 120px;
        background-color: gray;
}
#d{
        position: absolute;
        top: 60%;
        left: 60%;
        height: 50px;
        width: 120px;
        background-color: red;
}
#p{
        position: absolute;
        left: 20%;
}

#bandeiras{
        top: 10%;
        left: 70%;
        background-color: #FFD004;
}

#bandeira{
        width: 70px;
        height: 35px;
        
        
}
.ativo{
        border: 2px solid rgb(13, 18, 22);
        
        
}
.inativo{
        filter: grayscale(80%);
}
