<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css')}}">
   
    <title>Armarios</title>
</head>
<body onclick="call_controller()"> 
    <div class="container">
    <h1> CoolBag-Safe</h1>
    <p>Escolha o tamanho que atenda melhor sua necessidade</p><br>
         
                <a href="{{ url_for('tempo', armario='A')}}"><button type="button" id="a" class="btn btn-primary btn-lg">A</button></a>
                <a href="{{ url_for('tempo', armario='B')}}"><button type="button" id="b" class="btn btn-primary btn-lg">B</button></a>
                <a href="{{ url_for('tempo'), armario='C'}}"><button type="button" id="c" class="btn btn-primary btn-lg">C</button></a>
                <a href="{{ url_for('tempo'), armario='D'}}"><button type="button" id="d" class="btn btn-primary btn-lg">D</button></a>
                </div> 
            
            <script>
                    // You can also require other files to run in this process
                    //require('./renderer.js')
                    src=" url_for('static', filename='js/bootstrap.min.js')}}";
                    
                  </script>
</body>
</html>