<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css')}}">
   
    <title>Armarios</title>
</head>
<body onclick="call_controller()"> 
    <div class="container">
    <h3>  <p>Escolha o tamanho que atenda melhor sua necessidade</p><br></h3>
   
     {% for c in classes %}
     <a href="{{ url_for('tempo', armario=c[0])}}"><button type="button" id="{{c[0]}}" class="btn btn-primary btn-lg">{{c[0]}}</button></a>
     {% endfor %}
         
                
                </div> 
            
            <script>
                    // You can also require other files to run in this process
                    //require('./renderer.js')
                    src=" url_for('static', filename='js/bootstrap.min.js')}}";
                    
                  </script>
</body>
</html>