<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
</div>
    <script>
        // You can also require other files to run in this process
        //require('./renderer.js')
        src="{{ url_for('static', filename='js/bootstrap.min.js')}}"
      </script>
</body>
</html>