<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    
    <title>Cadastro de armarios </title>
</head>
<body>
    <div class="container">
      <div id="form">
            <form action="" method="POST">
                    <div class="form-group">
                      {{form.classe.label }} &MediumSpace;&MediumSpace;&MediumSpace;
                      &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;
                      &MediumSpace;&MediumSpace;&MediumSpace;
                      {{ form.terminal.label}}<br>
                     {{form.classe}}
                     &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;
                      
                   
                    {{ form.terminal }}
                    </div>
                    <div class="form-group">
                      {{ form.coluna.label}} &MediumSpace;&MediumSpace;&MediumSpace;
                      &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;{{ form.nivel.label}}<br>
                      {{ form.coluna }}
                        
                     
                     &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;
                      {{ form.nivel}}
                       
                  
                  
                    
                    </div>
                  
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </form>
                 
                </div>
                {% if flash %}
                {{ flash }}
                {% endif %}
    </div>
    
</body>
</html>