<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="controller.js"></script>
    <title> Bem-vindo ao CoolBag-Safe</title>
  </head>
  <body id="background">
    <div class="container">
        <div class= "button" id="bandeiras">  
            <a href="index.html"><button type="button" class="btn"><img src="images/brasil.svg" id="bandeira" alt="Português do Brasil"></button></a>
            <a href="index_frances.html"><button type="button" id="franca" class="btn"><img src="images/franca.svg" id="bandeira" class="inativo"></button></a>
            <a href="index_espanhol.html"><button type="button" id="espanha" class="btn"><img src="images/espanha.svg" id="bandeira" class="inativo"></button></a>
            <a href="index_ingles.html"><button type="button" id="inglaterra" class="btn"><img src="images/reinounido.svg" id="bandeira" class="inativo"></button></a>
            
            </div>
    
 <div class= "button" id="button-bottom">  
<a href="locar.html"><button type="button" id="controller" class="btn btn-primary btn-lg">Locar Armário</button></a>
<button type="button" id="controller" class="btn btn-secondary btn-lg">Retirar Bagagem</button>
</div> 
    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
      src="../js/bootstrap.min.js"
    </script>
    </div>
  </body>
</html>
