<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="controller.js"></script>
    <title>Locacao</title>
</head>
<body>
    <h1> CoolBag-Safe</h1>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt recusandae, a dolorem voluptatibus quod laudantium nam? Maxime fuga maiores quod expedita dolorem quo a laudantium nostrum reiciendis placeat. At, dolores!</p>
    <div class= "button" id="button-bottom">  
        <a href="armarios.html"><button type="button" id="controller" class="btn btn-primary btn-lg">Escolher</button></a>
        
</body>
</html>