<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css')}}">
   
    <title> Recuperar Bagagem </title>
    
  </head>
  <body">
    <div class="container">
     
            <form method="post" >
              <label for="nome">Nome</label>
              <input type="text" id="nomes">
              <button type="submit" onsubmit="getDados();">enviar</button>
                </form>
                </div>
                <script type="text/javascript">
                  function getDados(){
                    var dia = document.getElementById("nomes").value;
                    console.log(toString(dia));
                    return false;
                  }
                </script>
                
  </body>
</html>